/***** CLEARFIX is applied to the parent of floated elements *************/
/*************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Archivo+Narrow:400,700);
/* line 4, ../scss/style.scss */
.clearfix {
  zoom: 1;
}
/* line 6, ../scss/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 10, ../scss/style.scss */
.clearfix:after {
  clear: both;
}

/***** SITE STYLES *************/
/**********************************/
/* line 25, ../scss/style.scss */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 3px;
  padding: 0;
}

/* line 33, ../scss/style.scss */
body {
  font-family: 'Archivo Narrow', sans-serif;
}

/* line 36, ../scss/style.scss */
a {
  text-decoration: none;
}

/* line 39, ../scss/style.scss */
p {
  line-height: 1.5em;
}

/* line 42, ../scss/style.scss */
.italic {
  font-style: italic;
}

/* line 45, ../scss/style.scss */
.serif {
  font-family: "Bitter", serif;
}

/* line 48, ../scss/style.scss */
.bold {
  font-weight: bolder;
}

/* line 51, ../scss/style.scss */
h1 {
  font-size: 1.5em;
}

/* line 54, ../scss/style.scss */
h2 {
  font-size: 1.3em;
}

/* line 57, ../scss/style.scss */
h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}

/* line 61, ../scss/style.scss */
h4 {
  font-size: .9em;
}

/* line 64, ../scss/style.scss */
p, li {
  font-size: .75em;
}

/* line 67, ../scss/style.scss */
header {
  background-color: black;
}
/* line 69, ../scss/style.scss */
header h1 {
  font-family: "Bitter", serif;
  font-size: 1.5em;
  display: block;
  color: white;
  padding: 30px 0 30px 10%;
}

/* line 78, ../scss/style.scss */
.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 950px;
}

/* line 86, ../scss/style.scss */
.title h1 {
  border: none;
}

/* line 90, ../scss/style.scss */
.work {
  display: block;
  color: black;
}

/* line 94, ../scss/style.scss */
.worklink {
  margin-bottom: 30px;
}

/* line 101, ../scss/style.scss */
h1 {
  border-bottom: 1px solid black;
}

/* line 107, ../scss/style.scss */
.layrlogin {
  margin: 30px auto;
}

/* line 110, ../scss/style.scss */
.wireframepic {
  border: 1px solid black;
  border-radius: 3px;
}

/* line 115, ../scss/style.scss */
.mockups img {
  margin-bottom: 30px;
}

/* line 119, ../scss/style.scss */
.markup_pic {
  margin: 30px auto;
}

/* line 123, ../scss/style.scss */
.mockupimages {
  margin-bottom: 60px;
}
/* line 126, ../scss/style.scss */
.mockupimages .mockup {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  margin-right: 2%;
  max-height: 200px;
}

/* line 137, ../scss/style.scss */
.link {
  margin-bottom: 30px;
}
/* line 139, ../scss/style.scss */
.link a {
  padding: 3%;
  color: white;
  background-color: darkgray;
  border-radius: 3px;
  bottom: 30px;
}
/* line 145, ../scss/style.scss */
.link a:hover {
  background-color: lightgray;
  color: black;
}

/* line 153, ../scss/style.scss */
footer {
  background-color: black;
  margin-top: 20px;
}
/* line 156, ../scss/style.scss */
footer ul {
  display: flex;
  padding: 30px 0 30px 10%;
}
/* line 165, ../scss/style.scss */
footer a {
  margin-right: 30px;
  font-family: "Bitter", serif;
  font-size: 1.2em;
  color: white;
}
/* line 170, ../scss/style.scss */
footer a:hover {
  color: lightgray;
}

/* line 180, ../scss/style.scss */
.wireframes {
  margin-top: 30px;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 2%;
}
/* line 185, ../scss/style.scss */
.wireframes h4 {
  margin-top: 0;
}

/* line 189, ../scss/style.scss */
.thumbnails {
  margin-top: 30px;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 2%;
}
/* line 194, ../scss/style.scss */
.thumbnails h4 {
  margin-top: 0;
}

/* line 198, ../scss/style.scss */
.mockups {
  margin-top: 30px;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 2%;
}
/* line 203, ../scss/style.scss */
.mockups h4 {
  margin-top: 0;
}

/* line 210, ../scss/style.scss */
.integrations {
  margin-top: 30px;
  background: lightgray;
  color: black;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 3px;
  padding: 2%;
}
/* line 218, ../scss/style.scss */
.integrations h4 {
  margin: 10px 0;
}
/* line 221, ../scss/style.scss */
.integrations h3 {
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
}
/* line 226, ../scss/style.scss */
.integrations ul {
  margin-bottom: 0;
}

/* line 231, ../scss/style.scss */
.markup {
  margin-top: 30px;
  border: 1px solid darkgray;
  border-radius: 3px;
  padding: 2%;
}
/* line 236, ../scss/style.scss */
.markup h3 {
  margin-top: 0;
}

/* line 241, ../scss/style.scss */
.mockupgallery {
  margin-bottom: 20px;
}
/* line 243, ../scss/style.scss */
.mockupgallery:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 650px) {
  /* line 252, ../scss/style.scss */
  .worklink {
    float: left;
    width: 45%;
  }

  /* line 257, ../scss/style.scss */
  .artist {
    margin-right: 5%;
  }

  /* line 262, ../scss/style.scss */
  .layrlogin {
    float: right;
    width: 40%;
    margin: 0 0 30px 30px;
  }

  /* line 267, ../scss/style.scss */
  .discovery {
    font-size: 1.2em;
  }
  /* line 269, ../scss/style.scss */
  .discovery h3 {
    font-weight: lighter;
    font-style: italic;
  }

  /* line 275, ../scss/style.scss */
  .process h1 {
    border: none;
  }

  /* line 279, ../scss/style.scss */
  .scope {
    width: 30%;
    background: lightgray;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 3px;
    padding: 2%;
  }
  /* line 288, ../scss/style.scss */
  .scope h3 {
    margin-top: 0;
    text-decoration: underline;
  }
  /* line 292, ../scss/style.scss */
  .scope ul {
    margin-bottom: 0;
  }

  /* line 296, ../scss/style.scss */
  .wireframes {
    margin-top: 30px;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 2%;
  }

  /* line 302, ../scss/style.scss */
  .wireframe_content {
    font-size: 1.2em;
    float: left;
    width: 50%;
  }
  /* line 307, ../scss/style.scss */
  .wireframe_content h4 {
    margin-top: 0;
  }

  /* line 311, ../scss/style.scss */
  .wireframepic {
    float: right;
    width: 40%;
  }

  /* line 316, ../scss/style.scss */
  .thumbnails {
    margin-top: 30px;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 2%;
  }

  /* line 322, ../scss/style.scss */
  .thumbnail_content {
    font-size: 1.2em;
    float: left;
    width: 50%;
  }
  /* line 326, ../scss/style.scss */
  .thumbnail_content h4 {
    margin-top: 0;
  }

  /* line 330, ../scss/style.scss */
  .thumbnailpic {
    float: right;
    width: 40%;
  }

  /* line 334, ../scss/style.scss */
  .mockups {
    margin-top: 30px;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 2%;
  }
  /* line 339, ../scss/style.scss */
  .mockups .mockup_content {
    font-size: 1.2em;
  }

  /* line 343, ../scss/style.scss */
  .mockup {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
  /* line 347, ../scss/style.scss */
  .mockup:last-child {
    margin-right: 0;
  }

  /* line 351, ../scss/style.scss */
  .integrations {
    margin-top: 30px;
    background: lightgray;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 3px;
    padding: 2%;
  }
  /* line 359, ../scss/style.scss */
  .integrations h4 {
    margin: 10px 0;
  }
  /* line 362, ../scss/style.scss */
  .integrations h3 {
    margin-top: 0;
    text-align: center;
    text-decoration: underline;
  }
  /* line 367, ../scss/style.scss */
  .integrations ul {
    margin-bottom: 0;
  }

  /* line 372, ../scss/style.scss */
  .googlefont {
    float: left;
    width: 48%;
  }

  /* line 377, ../scss/style.scss */
  .responsive {
    float: right;
    width: 48%;
  }

  /* line 381, ../scss/style.scss */
  .markup {
    margin-top: 30px;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 2%;
  }

  /* line 388, ../scss/style.scss */
  .markup_content {
    font-size: 1.2em;
    float: left;
    width: 30%;
  }
  /* line 392, ../scss/style.scss */
  .markup_content h3 {
    margin-top: 0;
  }

  /* line 397, ../scss/style.scss */
  .markup_pic {
    float: right;
    width: 65%;
  }

  /* line 402, ../scss/style.scss */
  .mockupimages {
    margin-top: 30px;
    background: lightgray;
    color: black;
    font-size: 1em;
    font-weight: bolder;
    border-radius: 3px;
    padding: 2%;
  }
  /* line 410, ../scss/style.scss */
  .mockupimages h2 {
    margin-top: 0;
  }

  /* line 414, ../scss/style.scss */
  .mockupgallery {
    margin-bottom: 20px;
  }
  /* line 416, ../scss/style.scss */
  .mockupgallery:last-child {
    margin-bottom: 0;
  }
}
